.grid-more-options-popover .popover-wrapper>.popover-content {
  width: 129px !important;
  height: 93px !important;
  background-color: white !important;
}

.option-icon {
  background-color: white;
  // width: 30px;
  // height: 30px
}
.grid-icons{
  width: 22px;
  height: 22px
}